.footer-div {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 20px;
    margin-left:-20px;
    margin-right:-20px;
    margin-bottom:-20px;
}

.footer-div p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px;
}

.footer-div a {
    color: white;
}
