.ImageContainerDiv {
    width: 50%;
    margin: 5px;
}

.TextSoundContainer {
    width: 50%;
    display: flex;
    flex-direction: column; 
    font-family: "Lucida Calligraphy";
}

.ImageAndAudioContainer {
    border: 1px solid black;
    padding: 5px;
    display: flex;
}


/* Fires when the width is less than 1300px */
@media only screen and (max-width: 1300px) {
    /* Changes the flex-direction of the image and audio container from row to column, so page elements are on stacked in a column instead of a row */
    .ImageAndAudioContainer {
        flex-direction: column;
    }

    .ImageContainerDiv {
        width: 100%;
    }

    .TextSoundContainer {
        width: 100%;
    }
}