/* Adds a static background image to the page */
body  {
    background-image: url(https://pixelz.cc/wp-content/uploads/2017/11/minimalist-background-uhd-8k-wallpaper.png);
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
