/* Styling for the div that contains all elements, except for the header */
.MainPageDiv {
  background-color: white;
  width: 80%;
  margin: auto;
  border: 1px solid black;
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 20px;
}

/* Styling for the div that contains the category-selector and the gallery (CatAndGallery) */
.CatAndGallery {
  display: flex;
  width: 100%;
  height: auto;
}

/* Styling for the category container */
.CatContainer {
  width: 30%;
}

/* Styling for the gallery container */
.GalContainer {
  width: 70%;
  margin-left: 10px;
}

/* Styling for the tabcontainer that's used on mobile devices */
#TabsMobile {
  display: none;
  margin-bottom: -40px;
}

/* Styling for the tabcontainer that's used on desktop devices */
#TabsDesktop {
  margin-bottom: -30px;
}


/* Styling for the "undo categories" button */
#UndoButton {
  width: 100%;
  max-width: 250px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  align-self: center;
}

/* Media-query that fires when screen-width gets below 900px */
@media only screen and (max-width: 900px) {
  .MainPageDiv {
    width: 90%;
  }
}

/* Media-query that fires when screen-width gets below 1300px */
@media only screen and (max-width: 1300px) {
  
  /* Changes the flex-direction of the category and gallery div from row to column, so page elements are on stacked in a column instead of a row */
  .CatAndGallery {
    flex-direction: column;
  }
  
  /* Changes the width of the category container to 100% */
  .CatContainer {
    width: 100%;
  }

  /* Changes the width and margin of the gallery container */
  .GalContainer {
    width: 100%;
    margin-left: 0px;
  }

  /* Hides the tabcontainer meant for desktops */
  #TabsDesktop {
    display: none;
  }

  /* Shows the tabcontainer meant for mobile */
  #TabsMobile {
    display: block;
  }
}
