.Tab {
    width: 25%;
    cursor: pointer;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: helvetica;
    font-size: 2.5vw;
}

/* Makes the tab-text larger on mobile device */
@media only screen and (max-width: 900px) {
    .Tab {
      font-size: 4vw;
    }
  }