.Header {
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: -8px;
  overflow: hidden;
  top: 0;
  margin-left: -15px;
  margin-top: -5px;
  position: fixed;
  width: 101%;
  height: 50px;
  line-height: 55px;
  z-index: 100;
  font-family: 'Agency FB';
}
